* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navigator {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav ul {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style-type: none;
    margin-right: 450px;
    
}
nav ul li {
    color: black;
    font-weight: 300;
    font-size: 20px;
}
.logo {
    margin: 20px 40px;
    height: 50px;
    width: 150px;
}

.navigator button,
.section button {
    margin-right: 10px;
    color: white;
    background-color: blue;
    padding: 8px 20px;
    border-radius: 10px;
    border: 1px solid blue;

}

.section {
    display: flex;
    align-items: center;
    margin-left: 80px;
}
.section h1 {
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: 800;
}
span {
    color: blueviolet;
}
.section p {
    margin-bottom: 40px;
}
.section img {
    height: 400px;
    width: 500px;
}